header
	.navigation
		.row
			.col.col--1-of-4
				h1.logo

			.col.col--3-of-4
				nav
					ul
						li: a(href="#about") About us
						li: a(href="#brands") Our brands
						li: a(href="#graphics") Graphic design
						li: a(href="#development") Development
						li: a(href="#marketing") Marketing
						li: a(href="#contact") Contact
